.idea
/RELEASE_NOTES.txt
/shell/
/api.php
/index.php
/cron.sh
/.gitignore
/install.php
/var/
/get.php
/LICENSE_AFL.txt
/js/
/favicon.ico
/LICENSE.html
/downloader/
/mage
/dev/
/LICENSE.txt
/lib/
/.htaccess
/includes/
/media/
/skin/
/errors/
/php.ini.sample
/cron.php
/index.php.sample
/.htaccess.sample
!/app/etc/modules/Kalinich_Action.xml
!/app/design/adminhtml/default/default/layout/kalinich_action.xml
!/app/code/local/Kalinich/
!/app/design/frontend/rwd/default/layout/action.xml
!/app/design/frontend/rwd/default/template/kalinichaction/
!/media/
/media/.htaccess
/media/wysiwyg/
/media/custom_options/
/media/customer/
/media/email/
/media/downloadable/
/media/xmlconnect/
/media/tmp/
/media/import/
/media/captcha/
/media/dhl/
/media/wrapping/
/media/catalog/

/app/.htaccess
/app/locale/
/app/Mage.php
/app/bootstrap.php
/app/code/community/
/app/code/core/
/app/code/local/Tsg/
/app/design/install/
/app/design/adminhtml/default/default/template/
/app/design/adminhtml/default/default/locale/
/app/design/adminhtml/default/default/etc/
/app/design/adminhtml/default/default/layout/api2.xml
/app/design/adminhtml/default/default/layout/sales.xml
/app/design/adminhtml/default/default/layout/pagecache.xml
/app/design/adminhtml/default/default/layout/xmlconnect.xml
/app/design/adminhtml/default/default/layout/centinel.xml
/app/design/adminhtml/default/default/layout/admin.xml
/app/design/adminhtml/default/default/layout/promo.xml
/app/design/adminhtml/default/default/layout/adminnotification.xml
/app/design/adminhtml/default/default/layout/bundle.xml
/app/design/adminhtml/default/default/layout/customer.xml
/app/design/adminhtml/default/default/layout/connect.xml
/app/design/adminhtml/default/default/layout/downloadable.xml
/app/design/adminhtml/default/default/layout/catalog.xml
/app/design/adminhtml/default/default/layout/authorizenet.xml
/app/design/adminhtml/default/default/layout/widget.xml
/app/design/adminhtml/default/default/layout/giftmessage.xml
/app/design/adminhtml/default/default/layout/moneybookers.xml
/app/design/adminhtml/default/default/layout/dataflow.xml
/app/design/adminhtml/default/default/layout/search.xml
/app/design/adminhtml/default/default/layout/cms.xml
/app/design/adminhtml/default/default/layout/rss.xml
/app/design/adminhtml/default/default/layout/importexport.xml
/app/design/adminhtml/default/default/layout/compiler.xml
/app/design/adminhtml/default/default/layout/report.xml
/app/design/adminhtml/default/default/layout/newsletter.xml
/app/design/adminhtml/default/default/layout/index.xml
/app/design/adminhtml/default/default/layout/oauth.xml
/app/design/adminhtml/default/default/layout/tax.xml
/app/design/adminhtml/default/default/layout/captcha.xml
/app/design/adminhtml/default/default/layout/currencysymbol.xml
/app/design/adminhtml/default/default/layout/main.xml
/app/design/adminhtml/default/default/layout/tag.xml
/app/design/frontend/default/
/app/design/frontend/base/
/app/design/frontend/rwd/default/etc/
/app/design/frontend/rwd/default/layout/oauth.xml
/app/design/frontend/rwd/default/layout/newsletter.xml
/app/design/frontend/rwd/default/layout/configurableswatches.xml
/app/design/frontend/rwd/default/layout/directory.xml
/app/design/frontend/rwd/default/layout/review.xml
/app/design/frontend/rwd/default/layout/sales.xml
/app/design/frontend/rwd/default/layout/catalogsearch.xml
/app/design/frontend/rwd/default/layout/paypal.xml
/app/design/frontend/rwd/default/layout/catalog_msrp.xml
/app/design/frontend/rwd/default/layout/cms.xml
/app/design/frontend/rwd/default/layout/checkout.xml
/app/design/frontend/rwd/default/layout/downloadable.xml
/app/design/frontend/rwd/default/layout/bundle.xml
/app/design/frontend/rwd/default/layout/catalog.xml
/app/design/frontend/rwd/default/layout/contacts.xml
/app/design/frontend/rwd/default/layout/customer.xml
/app/design/frontend/rwd/default/layout/wishlist.xml
/app/design/frontend/rwd/default/layout/persistent.xml
/app/design/frontend/rwd/default/layout/rss.xml
/app/design/frontend/rwd/default/layout/page.xml
/app/design/frontend/rwd/default/template/oauth/
/app/design/frontend/rwd/default/template/catalog/
/app/design/frontend/rwd/default/template/centinel/
/app/design/frontend/rwd/default/template/wishlist/
/app/design/frontend/rwd/default/template/authorizenet/
/app/design/frontend/rwd/default/template/checkout/
/app/design/frontend/rwd/default/template/rating/
/app/design/frontend/rwd/default/template/bundle/
/app/design/frontend/rwd/default/template/persistent/
/app/design/frontend/rwd/default/template/newsletter/
/app/design/frontend/rwd/default/template/payment/
/app/design/frontend/rwd/default/template/cataloginventory/
/app/design/frontend/rwd/default/template/review/
/app/design/frontend/rwd/default/template/customer/
/app/design/frontend/rwd/default/template/downloadable/
/app/design/frontend/rwd/default/template/sendfriend/
/app/design/frontend/rwd/default/template/reports/
/app/design/frontend/rwd/default/template/configurableswatches/
/app/design/frontend/rwd/default/template/directory/
/app/design/frontend/rwd/default/template/sales/
/app/design/frontend/rwd/default/template/paypal/
/app/design/frontend/rwd/default/template/catalogsearch/
/app/design/frontend/rwd/default/template/contacts/
/app/design/frontend/rwd/default/template/email/
/app/design/frontend/rwd/default/template/page/
/app/design/frontend/rwd/default/template/captcha/
/app/etc/local.xml.additional
/app/etc/config.xml
/app/etc/local.xml.template
/app/etc/local.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_ConfigurableSwatches.xml
!/.gitignore
/app/design/adminhtml/default/default/layout/tsg_hellomagento.xml
