<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Kalinich_Action>
            <version>1.0.2</version>
        </Kalinich_Action>
    </modules>
    <frontend>
        <routers>
            <kalinich_action>
                <use>standard</use>
                <args>
                    <module>Kalinich_Action</module>
                    <frontName>action</frontName>
                </args>
            </kalinich_action>
        </routers>
        <layout>
            <updates>
                <kalinich_action>
                    <file>action.xml</file>
                </kalinich_action>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <kalinich_action>
                        <type>model</type>
                        <method>addItemMenu</method>
                        <class>Kalinich_Action_Model_Observer</class>
                    </kalinich_action>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kalinich_action before="Mage_Adminhtml">Kalinich_Action_Adminhtml</kalinich_action>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kalinich_action>
                    <file>kalinich_action.xml</file>
                </kalinich_action>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <kalinich_action>
                <class>Kalinich_Action_Block</class>
            </kalinich_action>
        </blocks>
        <helpers>
            <kalinich_action>
                <class>Kalinich_Action_Helper</class>
            </kalinich_action>
        </helpers>
        <models>
            <kalinich_action>
                <class>Kalinich_Action_Model</class>
                <resourceModel>kalinich_action_resource</resourceModel>
            </kalinich_action>
            <kalinich_action_resource>
               <class>Kalinich_Action_Model_Resource</class>
                <entities>
                    <post_action>
                       <table>kalinich_action</table>
                    </post_action>
                    <post_action_product>
                        <table>kalinich_action_product</table>
                    </post_action_product>
                </entities>
           </kalinich_action_resource>
        </models>
        <resources>
            <kalinich_action_setup>
                <setup>
                    <module>Kalinich_Action</module>
                </setup>
            </kalinich_action_setup>
        </resources>
    </global>
</config>